/* Styles go here */
body {
  // background: url('../images/tower.gif');
  // background-repeat: no-repeat;
  // background-size: cover;
  //background-color: white;
  // background-attachment: fixed;
}

.moveBody {
  margin-top: 110px;
}

.attraction {
  color: white;
}
.hello-world {
  color: rgb(43, 179, 31);
  font-family: 'Consolas';
  font-size: 80pt;
  font-weight: 800;
  -webkit-text-stroke: 3px black;
}
.hello-world.twitter {
  font-size: 25pt;
  -webkit-text-stroke: 1px black;
}

.navbar {
  background-color: rgb(28, 27, 27);
  border-radius: 0px;
  //height: 100px;
  border: none;
}
@media (max-width: 775px) {
.navbar {
    background-color: rgb(28, 27, 27);
    border-radius: 0px;
    //height: 100px;
    border: none;
  }
}

.navbar-item {
  color: white;
  font-weight: 600;
  font-size: 22pt;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-text-stroke: 1px black;

}
.navbar-item-active {
  color: rgb(43, 179, 31);
  font-weight: 600;
  font-size: 22pt;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-text-stroke: 1px black;
}

.weather-panel {
  color: white;
  font-size: 20pt;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-text-stroke: 1px black;
  font-weight: 600;
  background-color: rgba(50, 41, 41, 0.7);
  border-radius: 30px solid rgb(0, 0, 0);
}
.ticket-panel{
  color: white;
  font-size: 20pt;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-text-stroke: 1px black;
  font-weight: 600;
  background-color: rgba(50, 41, 41, 0.7);
  border-radius: 30px solid rgb(0, 0, 0);
}
.purchase-button {
  font-size: 22pt;
  -webkit-text-stroke: 0px black;
}
.tweet-panel {
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(0, 132, 255);
}
.tweet {
  color: white;
  font-family: 'font-family: arial,sans-serif;';
  font-size: 15pt;
  padding-left: 30px;
  padding-right: 30px;
}
.tweet.username {
  color:black;
  font-size: 12pt;
}
.attraction-panel {
  color: white;
  font-size: 18pt;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-text-stroke: 1px black;
  font-weight: 600;
  background-color: rgba(50, 41, 41, 0.7);
  border-radius: 30px solid rgb(0, 0, 0);
}
.attraction-panel.tag {
  color: rgb(82, 142, 238);
  background-color: rgba(0, 0, 0, 0);
}
.logo {
  height: 150px;
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
position: fixed;
 opacity: 0;
 left:0 !important;
width: 100%; height: 100%;
-webkit-transition: opacity 5s ease;
-moz-transition: opacity 5s;
-ms-transition: opacity 5s;
-o-transition: opacity 5s;
transition: opacity 5s ease;
}
.carousel .one {
background: url('../images/theme-park-background.jpg');
background-color: black;
background-size: cover;
-moz-background-size: cover;
}
.carousel .two {
background: url('../images/coaster.gif');
background-size: cover;
-moz-background-size: cover;
}
.carousel .three {
background: url('../images/thunderbolt.gif');
background-size: cover;
-moz-background-size: cover;
}

.carousel .active {
opacity: 1 !important;
}

.attraction-slideshow {
  width: 400px;
}

.carousel .left {
opacity: 1 !important;
-webkit-transition: opacity 5s  !important;
-moz-transition: opacity 5s  !important;
-ms-transition: opacity 5s  !important;
-o-transition: opacity 5s  !important;
transition: opacity 5s ease !important;
}
